*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #191919;
}

.hero{ 
    height:100vh;
    width:100%;
    background-color: #191919;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
}
span{
    color: #f9004d;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:#f9004d;
    transition: .4s;
}
.menu-icon {
    display: none; /* Hide the hamburger icon on larger screens */
    cursor: pointer;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}
.btn {
    background-color: #f9004d;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position:absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h2{
    color: white;
    font-size: 45px;
    margin-bottom: 10px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing:2px;
    font-size: 20px;
}
.newsletter form{
    width:380px;
    max-width: 100%;
    position:relative;
}
.newsletter form input:first-child{
    display:inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display:inline-block;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #f9004d;
    color:white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top:6px;
    right:6px;
}
.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
  /* CSS to create a circular image */
.main img {
    width: 40%; /* Adjust this value to control the size of the circular image */
    height: 20%; /* Make sure this is the same as the width for a perfect circle */
    border-radius: 10%;
    overflow: hidden;
  }
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 350px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#f9004d;
	bottom: 35px;
	font-size: 14px; 
}

.contact-form {
    width: 420px; /* Adjust the width as needed */
    margin: 0 auto;
	margin-bottom: 40px;
    padding: 25px; /* Adjust the padding as needed */
    background-color: #191919;
    border-radius: 20px;
    color: white; 
  }
  
  .contact-form p {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .contact-form h2{
	color: white;
	font-size: 45px;
	margin-bottom: 20px auto;
	text-align: center;
}
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    padding: 8px;
    border: 2px solid #f9004d;
    border-radius: 15px;
    color: white;
    outline: none;
    margin-bottom: 15px;
	display:inline-block;
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-form input[type="submit"] {
    background-color: #f9004d;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.4s;
  }
  
  .contact-form input[type="submit"]:hover {
    transform: scale(1.1);
  }
  
  /* Optionally, you can style the form error messages */
  .contact-form input:invalid,
  .contact-form textarea:invalid {
    border-color: #ff0000;
  }
  
  .contact-form input[type="submit"]:disabled {
    background-color: #9e9e9e;
    cursor: not-allowed;
  }

/* Styles for the Data Analytics Projects section */
#my-projects {
  padding: 50px 0;
  text-align: center;
}

#my-projects h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: white;
}

#my-projects ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#my-projects li {
  margin: 15px;
}

#my-projects h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#my-projects iframe {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 800px; /* Adjust the max-width as needed */
	height: 600px;
	border: none;
  }

/* CSS to create a circular display */
.circular-image {
	width: 150px; /* Adjust this value to control the size of the circular image */
	height: 150px; /* Make sure this is the same as the width for a perfect circle */
	border-radius: 50%;
	overflow: hidden;
}
	
.circular-image img {
	width: 100%;
	height: auto;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
	/* Adjust font size and other styles as needed for better mobile readability */
  
	nav {
	  padding: 20px 5%;
	  align-items: center;
    	  justify-content: space-between;	
	}
  
	.logo {
	  font-size: 25px;
	}
  
	nav ul li {
	  padding: 5px 10px;
	}
  
	h1 {
	  font-size: 40px;
	}
  
	h2 {
	  font-size: 30px;
	}
  
	h3 {
	  font-size: 20px;
	}
  
	h4 {
	  font-size: 16px;
	}
  
	.about img {
	  width: 100%;
	}
  
	.about-text {
	  width: 100%;
	}
  
	.main img {
	  width: 100%;
	  height: auto;
	  border-radius: 50%;
	}
  
	.card {
	  width: 90%;
	  height: auto;
	}
  
	.title h2 {
	  font-size: 50px;
	}

  /* Styles for the Data Analytics Projects section on mobile */
  #my-projects {
    padding: 20px 0;
  }

  #my-projects h2 {
    font-size: 28px;
  }

  #my-projects iframe {
    height: 300px;
  }

  /* Mobile Styles for the circular display */
  .circular-image {
    width: 100px;
    height: 100px;
  }

  /* Styles for the Contact Form on mobile */
  .contact-form {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 15px;
  }

  .contact-form h2 {
    font-size: 30px;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    padding: 8px;
    margin-bottom: 10px;
  }

  .contact-form input[type="submit"] {
    padding: 8px 20px;
  }  
	.menu {
        display: none; /* Hide the menu items on mobile by default */
    }

    .menu-icon {
        display: block; /* Show the hamburger icon on mobile */
    }

    .show {
        display: flex; /* Show the menu items when the hamburger icon is clicked */
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        z-index: 1;
    }

    .show li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
